/* Hide most stuff */
div.panel-header:not(.cetus):not(.vallis), .navbar, .header-panel, .pull-left {
    display:none;
}
/* Drops times */
.panel-header .list-group .list-group-item:nth-child(3) /* Uncomment to hide day/cold/warm/night , .panel-header .list-group .list-group-item:nth-child(1)*/ {
    visibility: hidden;
}

/* Commnet blow to help hide day/cold/warm/night */
.panel-header .list-group .list-group-item:nth-child(1) .pull-right {
    margin-right: 5px!important;
    width: 70px;
    text-align: left;
}

/* Drops off the list group dark box */
.list-group, .list-group-item, .night .list-group .list-group-item {
    display: inline;
    background-color: transparent;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}

.container-fluid {
    width: auto;
    padding: 0;
}

/* Cleans up sizing */
.cetus, .vallis, .row {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    max-height: 20px;
}

.cetus {
    position: absolute;
    left: 0!important;
    top: 0!important;;
}

.vallis {
    position:absolute;
    left: 0;
    top: 25px;
}

div#app.night, div, row {
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}


/* Allows transparency */
body {
    background-color: transparent;
}


/* Positioning */
.pull-right {
    float: left;
}
